body, html{
    // background-color: #242424;
    font-family: var(--font-montserrat);
    font-size: var(--font-base);
    box-sizing: border-box;
    // color: #f5f5f5;
}

a{
    text-decoration: none;
    color: inherit;
}

.light{
    background-color: #e2e9e6;
    color: #242424;
    transition: 0.5s ;
}

.dark{
    background-color: #242424;
    color: white;
    transition: 0.5s;
}