@use '../abstracts/mixin';
.container-boton{
    padding: 0 2rem;
}
.container-info{
    &__poster{
        text-align: center;
        margin: 3rem 0;
    }

    &__img{
        width: 90%;
        border-radius: 20px;
        @include mixin.card-shadow;
    }
    &__meta{
        margin: 2rem 0;
    }

    &__head{
        text-align: center;
        padding: 1em 0;
    }

    &__title{
        font-size: 1.5em;
        font-weight: bold;
        font-style: italic;
    }

    &__icon{
        margin: 1rem 0;
        @include mixin.flex-center;
        column-gap: 5px;
    }

    &__description{
        display: flex;
        justify-content: center;
    }

    &__paragraph{
        width: 90%;
        text-align: justify;
        line-height: normal;
        font-size: 1.2em;
        font-weight: 200;
    }

    &__genders{
        margin: 1em 0;
        text-align: center;
    }

    &__infogender{
        margin: 0 1em;
        font-size: 20px;
        font-weight: 200;
        font-weight: bold;
    }

    &__companies{
        display: flex;
        margin: 1rem 0;
        
    }

    

}

@include mixin.desktop{
    .container-info{
        display: flex;
        
        &__poster{
            margin: 2rem 0 2rem 1rem;
        }

        &__img{
           width: 300px;
           height: 400px;
        }
    }
}