@use '../abstracts/mixin';
.button{
    display: flex;
    padding: 0.5rem 1.5rem;
    font-size: 1em;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    &:hover{
        @include mixin.base-shadow;
    }
    @include mixin.card-shadow;
    
}