@use '../abstracts/mixin';
.header{
    margin: 1rem 0;
    .navigation{
        gap: 0 10px;
        @include mixin.flex-center;
        padding: 1rem 0;
        &__img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            @include mixin.base-shadow;
        }
        &__menu{
            gap: 0 10px ;
            @include mixin.flex-center;
        }
        &__link{
            padding: 10px 5px;
            border-radius: 20%;
            font-weight: 400;
            &:hover{
                @include mixin.base-shadow;
            } 
        }
        .navigation__link--active{
            @include mixin.base-shadow;
        }
    }
}
/*query*/
@include mixin.tablet{
    .header{
        & .navigation{
            gap: 0 5%;
        }
    }
}

@include mixin.desktop{
    .header{
        & .navigation{
            justify-content: space-around;
            &__menu{
                justify-content: space-evenly;
                margin-right: 10%; 
            }
        }
    }
}