@use '../abstracts/mixin';
.container{
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    @include mixin.tablet{
        margin: 0 auto;
        justify-content: center;
    }
    @include mixin.desktopXL{
        margin: 0 10%;
        gap:50px;
    }
    &__card{
        display: inline-block;
        width: 175px;
        height: 300px;
        box-sizing: border-box;
        border-radius: 30px;
        box-shadow: 1px 1px 2px #1b1b1b,
        -3px -3px 6px #2b2b2b;
        &:hover{
            @include mixin.card-shadow;
        }
    }
    
    &__head{
    text-align: center;
        margin: 10px 0;
    }
   
    &__img{
        width: 150px;
        height: 200px;
        box-sizing: border-box;
        border-radius: 30px;
    }
    &__title{
        font-size: 1rem;
        font-weight: 400;
        line-height: 17px;
        margin: 0 20px;
    }
}